<%- include("Partials/header.ejs") %>

<form action="/" method="POST">
  <label for="title">Title</label>
  <input name="title" type="text" />
  <label for="content">Content</label>
  <textarea name="content" id=""></textarea>

  <button>Submit</button>
</form>

<%- include("Partials/footer.ejs") %>
