<%- include("Partials/header.ejs") %>

<div class="main">
  <div class="container">
    <h1 class="blog-title"><%= blog.title %></h1>

    <p class="blog-para"><%= blog.content %></p>
  </div>
</div>

<%- include("Partials/footer.ejs") %>
