<%- include("Partials/header.ejs") %>

<form action="/deleted" method="POST">
  <label for="id">Id</label>
  <input type="number" name="id" />
  <button>Delete Blog</button>
</form>

<%- include("Partials/footer.ejs") %>
