<%- include("Partials/header.ejs") %>

<section class="main">
  <div class="container">
    <form action="/deleted" method="POST">
      <label for="id">Blog No.</label>
      <input type="number" name="id" />
      <button>Delete Blog</button>
    </form>
  </div>
</section>

<%- include("Partials/footer.ejs") %>
