* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  --mild-blue: #3787ce;
  --strong-blue: #000957;
}

a {
  text-decoration: none;
}

header {
  background: var(--mild-blue);
  display: flex;
  justify-content: center;
}

.logo {
  color: var(--strong-blue);
  font-family: "PT Serif", serif;
  font-style: normal;
  font-size: 1.3rem;
}

.cr {
  color: var(--strong-blue);
  font-family: "PT Serif", serif;
  font-style: normal;
  font-size: 1.3rem;
}

.nav {
  width: 80%;
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}

.links,
.socials {
  width: 50%;
}

.links ul,
.socials ul {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  text-decoration: none;
}

.links ul li a,
.socials ul li a {
  color: var(--strong-blue);
  font-family: "PT Serif", serif;
  font-style: normal;
  text-decoration: none;
  font-size: 1.3rem;
}

.main {
  display: flex;
  justify-content: center;
}

.footer {
  min-height: 10vh;
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--mild-blue);
  justify-content: center;
  align-items: center;
}

.footer .content {
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

i {
  font-size: 1.5rem;
}

.blog-head {
  display: flex;
}

.blog-head button {
  margin-left: 2rem;
  padding: 0.5rem;
}
.blog-head i {
  font-size: 1.2rem;
}

.main {
  font-size: 1.22rem;
  font-family: "Poppins", serif;
}
