* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  --bg-for-hf: rgb(100, 182, 210);
}

header {
  background: var(--bg-for-hf);
}

.nav {
  margin-left: 5rem;
  margin-right: 5rem;
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}

.links,
.socials {
  width: 50%;
}

.links ul,
.socials ul {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}

.main {
  display: flex;
  justify-content: center;
}

.footer {
  min-height: 10vh;
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--bg-for-hf);
  justify-content: space-between;
  align-items: center;
}

.footer div {
  margin-left: 5rem;
  margin-right: 5rem;
}

i {
  font-size: 1.5rem;
}
