* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background: rgb(100, 182, 210);
}

.nav {
  margin-left: 5rem;
  margin-right: 5rem;
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}

.links {
  width: 50%;
}

.links ul {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}

.main {
  display: flex;
  justify-content: center;
}
